.icons{
    cursor: pointer !important;
}
.icons.right{
    margin-left: 20px;
}
.pagination{
    /* outline: 1px solid red; */
    margin-top: 0px;
    box-shadow: 0px 0px 2px grey;
}
.add-btn{
    background-color:rgb(112, 223, 240);
    border-radius: 20px; 
}
.serch-input{
    border-color: rgb(119, 207, 238);
}